.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;

}

.btn{
    font-size:  15px;
    border-radius: 5px;
    background-color: rgba(255, 238, 0, 0.818);
    margin-left: 50px;

}