.hnav {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(161, 23, 23);
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.btn{
    font-size:  18px;
    border-radius: 5px;
    background-color: rgb(255, 238, 0);
    margin-left: 50px;
    
}
