.card{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: rgba(175, 181, 154, 0.803);
    width: fit-content;
    max-width: 350px;
    margin-bottom: 20px;
}