.navdib {
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(161, 23, 23);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.selects {
  background-color: rgb(255, 238, 0);
  padding: 8px;
  border-radius: 20px;
}
.label{
    font-size: 20px;
    padding-right: 4px;
}
